{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}BuildAPC - Home{% endblock %}

{% block body %}
        <div class="py-5 text-center">
                <h1 class="display-4">Welcome to BuildAPC</h1>
                <p class="lead">Plan and build your perfect PC with ease.</p>
                <a href="/build" class="btn btn-dark btn-lg mt-3">Start Building</a>
        </div>
{% endblock %}
